<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bd7d319d-b264-4657-a3c9-7c993c425dc8/resourcegroups/BotServices/providers/Microsoft.Web/sites/CarubbiCarStoreBot</ResourceId>
    <ResourceGroup>BotServices</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://carubbicarstorebot.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>carubbicarstorebot.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CarubbiCarStoreBot</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CarubbiCarStoreBot</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BotDataContextConnectionString" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:carstorebotdbserver.database.windows.net,1433;Initial Catalog=CarStoreBot_db;User ID=carstorebotdbserver_admin@carstorebotdbserver;Password='Raphakf&quot;061208'" Name="Data Source=tcp:carstorebotdbserver.database.windows.net,1433;Initial Catalog=CarStoreBot_db;User Id=carstorebotdbserver_admin@carstorebotdbserver;Password=Raphakf&quot;061208" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CarStoreBot.State.SqlBotDataContext, CarStoreBot" MigrationConfiguration="CarStoreBot.Migrations.Configuration, CarStoreBot" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BotDataContextConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:carstorebotdbserver.database.windows.net,1433;Initial Catalog=CarStoreBot_db;User Id=carstorebotdbserver_admin@carstorebotdbserver;Password=Raphakf"061208</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>